$mobile: new-breakpoint(max-width 480px 12);
#car-main{
	
	margin-top: 43px;
	@include outer-container;
	.car-row{
		@include outer-container;
	}
	.add-car{
	@include span-columns(6);
	
	  @include media($mobile) {
	  @include shift(1);
    @include span-columns(10);

  		}
	}
}


$mobile: new-breakpoint(max-width 480px 12);

.car_container{
@include outer-container;
margin-left: auto;
margin-right: auto;
@include span-columns(8);
@include shift(2);
height: 292px;
@include media($mobile) {
    height: 163px;
 }

	#heading{
	@include span-columns(12);
	text-align:center;
	font-size: 3em;
	 @include media($mobile) {
     font-size: 1.5em;
  	}
	}
	#new {
	@include span-columns(2);
	@include shift(6);
	width: 35.702%;
	margin-left: 32.179%;
	font-size: 3vw;
	}
}




.car-avatar img{
	width: 450px;
	height: 140px;
	border:5px solid #18BD9D;
}


#car-show-main{
	margin-top: 55px;
	@include outer-container;
	#show-car{
		margin-top: 25px;
		@include span-columns(8);
		@include shift(2);
		@include media($mobile) {
  			@include span-columns(10);
  			@include shift(1);
			}
		#car-show-avatar{
		
			@include span-columns(5);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#car-show-info{
		
			@include span-columns(5);
			display: block;
			@include media($mobile) {
				@include span-columns(12);

			#car-show-name{
				@include span-columns(8);
				@include media($mobile) {
			  @include span-columns(6);
			}
			}
			#car-show-button{
				
				@include span-columns(8);
				@include media($mobile) {
			  @include span-columns(6);
			}			
			}
			  
			}
			
			
		}
	}

}






.add-car-button{
@include span-columns(10);
 @include shift(1);
text-align: center;
}
	

#show-car-details{
	margin-top: 25px;
	@include outer-container;
	@include span-columns(4);
	@include shift(4);
	@include media($mobile) {
	  @include span-columns(10);
	  @include shift(1);
	}
}