// Place all the styles related to the carpools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select{
	display: inline;
}

#map-canvas {
        height: 500px;
        width: 500px;
        margin: 0px;
        padding: 0px;
        border: 1px solid red;
      }

