.create-carpool {
$mobile: new-breakpoint(max-width 500px 12);
@include outer-container;
.step{
	border: solid 4px #18BD9D;
	margin-bottom: 25px;
	margin-top: 25px;
}
#step-1{
	height: 100px;
	@include media($mobile) {
		height: 170px;
	}
}
#step-2{
	height: 398px;
	@include media($mobile) {
		height: 491px;
	}
}
#step-3{
	height: 132px;
	@include media($mobile) {
		height: 213px;
	}
}
#step-4{
	height: 195px;
}
	#time-date{
		@include span-columns(12);
		padding-left: 25px;
		padding-right: 25px;
  		padding-top: 8px;
		#date{
	           select{
					display: inline;
	        	}
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#time{
			select{
					display: inline;
	        	}
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}	
		}
	}
	#price-laggage{
		padding-left: 25px;
		padding-right: 25px;
  		padding-top: 8px;
		@include span-columns(12);

		#price{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#luggage{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#car{
			@include span-columns(5);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#seats{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#other{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
	}

	#source-destination{
		padding-left: 25px;
		padding-right: 25px;
  		padding-top: 8px;
		@include span-columns(12);
		#source-field{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
		#destination-field{
			@include span-columns(6);
			@include media($mobile) {
			  @include span-columns(12);
			}
		}
	}

	#preferences{
		padding-left: 25px;
		padding-right: 25px;
  		padding-top: 8px;
		display: inline;
		@include span-columns(12);
		#music{
			@include span-columns(5);
		}
		#pets{
			@include span-columns(5);
		}
		#smoking{
			@include span-columns(5);
		}
		#food{
			@include span-columns(5);
		}
		#ladies{
			@include span-columns(5);
		}
	}
	#button-sub{
		@include span-columns(12);
		#bt{
			@include span-columns(4);
			@include shift(4);
		}
	}
	
}
