$mobile: new-breakpoint(max-width 480px 12);
.mobile-div {
  display:none;
    @include media($mobile) {
     @include span-columns(12);
    
  }

  .offer-ride{
   display:none;
    @include media($mobile) {
     @include span-columns(12);
  
  }}

}

