@import 'testimonials';
@import 'recent_rides';

$mobile: new-breakpoint(max-width 480px 12);
.ride_testimonial {
  height: 607px;
  @include media($mobile) {
     display: none;}
  .recent-rides {
    @include span-columns(6);
    height: 429px;
    @include media($mobile) {
     display: none;
  }
  }
  .testimonial {
    @include span-columns(6);
    height: 429px;
    
    @include media($mobile) {
     display: none;

  }
  }
}

#buttons{
  @include span-columns(12);
  height: 40px;
  
}

#buttons1{
  @include span-columns(12);
  height: 40px;
  
}

.slide-rides{
  @include span-columns(2);
  margin-right: 27px;
}
.heading {
padding-left: 38%;
font-size: 2em;
margin: 0px 0px 0em;
font-family: "Dancing Script";
}


/*this to hide the button when you switch to mobile view*/
#offer-ride-desktop{
  @include media($mobile) {
     display: none;}
}

/*this is the font size set for the nav bar text*/
.sign-log{
  font-size: 1.5em;
}

#drop-down{
  padding-left:10px;
}