@function set-color($color) {
  @if (lightness($color) > 50) {
    @return darken($color, 30%); // Lighter backgorund, return dark color
  } @else {
    @return lighten($color, 30%); // Darker background, return light color
  }
}

@function set-shadow($c) {
  $ts: 1px 1px 0 $c;
  @for $i from 1 through 35 {
    $ts: $ts + ', #{$i}px #{$i}px 0 #{$c}';
  }
  @return unquote($ts);
}


@function color($color) {
  @return map-get($colors, $color);
}

@function color-text($color) {
  @return map-get($colors-text, $color);
}

@function color-triad($c, $n: false) {
  @if ($n != true) {
    @return adjust_hue($c, 120) // secondary
  }
  @else {
    @return adjust_hue($c, -120) // tertiary
  }
}


@function color-analogous($c, $n: false) {
  @if ($n != true) {
    @return adjust_hue($c, 30) // secondary
  }
  @else {
    @return adjust_hue($c, -30) // tertiary
  }
}


$cp: #26c;

$cl: #fff;
$cd: #222;

$colors: (
  base: #ddd,
  primary: #3f51b5,
  secondary: #9c27b0,
  success: #8bc34a,
  danger: #e51c23,
  warning: #ff9800  
);

$colors-text: (
  base: darken(color(base), 50%),
  primary: lighten(color(primary), 40%),
  secondary: lighten(color(secondary), 40%),
  success: lighten(color(success), 40%),
  danger: lighten(color(danger), 40%),
  warning: lighten(color(warning), 40%)  
);



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 2em;
}

@mixin theme-box($c) {  
  border: 1px solid darken(color($c), 10%);
  background: color($c);
  color: color-text($c);
  text-shadow: set-shadow(darken(color($c), 10%));
}

.rx-button {
  padding: 1em 2em;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-size: 0.8em;
  outline: none;
  @include theme-box(base);
}

@each $c, $h in $colors {
  .rx-button-#{$c} {
    @include theme-box($c);
  }
}

.rx-module {
  font-size: 0.8em;
  border: 1px solid color(base);
  + .rx-module {
    margin-top: 1em;
  }
}
.rx-module-header {
  @include theme-box(base);
  padding: 1em;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid color(base);
  display: block;
}
.rx-module-body {
  padding: 1em;
}
@each $c, $h in $colors {
  .rx-module-#{$c} {
    border: 1px solid color($c);
    .rx-module-header {
      @include theme-box($c);
      border: none;
      border-bottom: 1px solid color($c);
    }
  }
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1em 0;
}