<div class="testimonial-add">
	<div id="test-add-content">
		<%= render('form') %>
	</div>
	<div class="testimonial-message">
		<% @testimonials.each do |t| %><br><hr>
		<span class="message-body"><%= t.message %> 
		</span>
		<span class="message-button1"><%= link_to 'edit', edit_testimonial_path(t),:class => "btn btn-blue btn-sm" %>
		</span>
		<span class="message-button1"><%= link_to 'delete', t, method: :delete, data: {confirm: "Are you sure?"},:class => "btn btn-red btn-sm" %>
		</span>
		<% end %>
	</div>
</div>


